@font-face {
    font-family: displayFont;
    src: url("../../assets/font/Digital\ Dismay.otf");
}

body {
    background-color: #70B070;
    margin: 2%;

}


main {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}

.calculator .display {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 95%;
    height: 15%;
    border-left: 10px #102818 solid;
    border-right: 10px #102818 solid;
    border-bottom: 2px #102818 solid;
    border-top: 2px #102818 solid;

}

.list-number {

    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    height: 100%;

}

.list-number .number {
    margin: 0%;
    font-family: displayFont;
    font-size: 3rem;
}

.calculator .list-button {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    border: 2px #1028180e solid;
    width: 80%;
    height: 70%;

}


.button {
    margin-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana";
    height: 50px;
    background-color: #70B070;
    border: 2px #102818 solid;

}

.shadow {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: #508050;
    border-top: 3px solid #385031;
}

.button1 {
    width: 18%
}

.button2 {

    width: 38%
}

.button p {}


.number {
    position: relative;
    display: block;
    color: #5080506f;
}

.calc {

    color: #5080506f;
    margin: 0%;
    font-family: displayFont;
    font-size: 3rem;
    position: absolute;
    top: 22%;
    left: 2%;
    z-index: 2;
    width: inherit;
    height: inherit;
}

.number #in-number {
    color: #385030;

    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    width: inherit;
    height: inherit;
}

.calc #in-calc {
    color: #385030;

    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: inherit;
    height: inherit;

}

@media only screen and (min-width: 320px) {
    .button {
        height: 100px;
    }
    .list-number
    {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 481px){

    

    .list-number .number{

        font-size: 4rem;
    }


}


@media only screen and (min-width: 768px) {

    .calculator .list-button {
        width: 80%;
    }
    .list-number .number
    {
        font-size: 7rem;
    }
    .calculator .display{
        justify-content: center;
    }
}