body {
    background-color: #70B070;
    margin: 2%;

}


main {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}

.calculator .display {

    display:flex;
    align-items: center;
    width: 95%;
    height: 15%;
    border-left: 10px #102818 solid;
    border-right: 10px #102818 solid;
    border-bottom: 2px #102818 solid;
    border-top: 2px #102818 solid;

}

.calculator .list-button {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    border: 2px #1028180e solid;
    width: 80%;
    height: 70%;

}


.button {
    margin-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana";
    height: 50px;
    background-color: #70B070;
    border: 2px #102818 solid;

}

.shadow {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: #508050;
   border-top: 3px solid #385031;
}

.button1
{
    width:18%
}

.button2{

    width:38%
}

.button p
{


}